@import "_variables";
.container {
  margin: 0px auto;
  max-width: 1000px;
}
body {
  margin: 0;
  background-color: #f2f2f2f2;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../image/Scroll\ Group\ 1.png");
  background-repeat: no-repeat;
  background-position: 1% 1%;
  background-size: cover;
  .left {
    margin: 15px 50px;
    img {
      width: 80px;
      height: 63px;
    }
  }
  .right {
    margin: 15px 50px;
    a {
      color: white;
      text-decoration: none;
      font-weight: bolder;
    }
    .lg {
      background-color: $primary-color2;
      padding: 5px 20px;
      margin-left: 15px;
      border-radius: 10px;
    }
  }
}
.container {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -27px;
    margin-bottom: -20px;
    h3 {
      background-color: $primary-color1;
      padding: 20px 55px;
      color: white;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .back {
      i,
      a {
        text-decoration: none;
        color: $primary-color1;
        padding-right: 5px;
      }
    }
  }
  .content {
    background-color: #ffffff;
    .stepProgressBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .tablinks {
        width: 800px;
        text-align: center;
        margin: 10px;
        .step-text {
          margin-bottom: 10px;
          color: $primary-color2;
          font-weight: bolder;
          font-size: large;
        }
        .bullet {
          z-index: 10;
          border: 2px solid $primary-color2;
          height: 25px;
          width: 25px;
          border-radius: 100%;
          color: $primary-color2;
          background-color: #ffffff;
          display: inline-block;
          position: relative;
          transition: background-color 500ms;
          line-height: 20px;
        }
        .bullet.completed {
          color: white;
          background-color: $primary-color2;
        }
        .bullet::before {
          content: "";
          background-color: lightgray;
          position: absolute;
          top: 7px;
          left: 27px;
          height: 8px;
          width: 250px;
          z-index: 1;
        }
        .bullet1::before {
          content: none;
        }
        .bullet.completed::after {
          content: "";
          background-color: $primary-color2;
          position: absolute;
          top: 7px;
          left: 27px;
          height: 8px;
          width: 250px;
          z-index: 2;
        }
        .bullet1.completed::after {
          content: none;
        }
      }
    }
    .tabcontent {
      text-align: center;
      button {
        background-color: $primary-color2;
        color: white;
        border-radius: 10px;
        border: 2px solid $primary-color2;
      }
      .Step1content {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
          color: $primary-color2;
        }
        button {
          background-color: $primary-color2;
          color: white;
          border-radius: 10px;
          border: 2px solid $primary-color2;
        }
      }
      .sel {
        display: inline-block;
        margin: 10px;
        width: 200px;
        background-color: transparent;
        position: relative;
        cursor: pointer;
        .active .sel__placeholder {
          visibility: hidden;
        }
        .active::before {
          transform: rotateX(-180deg);
        }
        .sel__placeholder {
          display: block;
          font-family: "Quicksand";
          color: $primary-color2;
          padding: 10px;
          text-align: left;
          pointer-events: none;
          user-select: none;
          visibility: visible;
        }
        .sel__placeholder::before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 10px;
          content: attr(data-placeholder);
          visibility: hidden;
        }
      }

      .sel::before {
        position: absolute;
        content: "\f0d7";
        font-family: "FontAwesome";
        color: $primary-color2;
        right: 20px;
        top: calc(50% - 10px);
      }

      .sel__box {
        position: absolute;
        top: calc(100% + 4px);
        left: -4px;
        display: none;
        list-style-type: none;
        text-align: left;
        background-color: #fff;
        width: calc(100% + 8px);
        box-sizing: border-box;
      }
      .sel.active .sel__box {
        display: block;
        animation: fadeInUp 500ms;
      }
      .sel__box__options {
        display: list-item;
        font-family: "Quicksand";
        color: $primary-color2;
        padding: 10px;
        user-select: none;
      }
      .sel__box__options::after {
        content: "\f00c";
        font-family: "FontAwesome";
        margin-left: 5px;
        display: none;
      }
      .sel__box__options.selected::after {
        display: inline;
      }
      .sel__box__options:hover {
        background-color: $primary-color2;
        color: white;
      }
      .sel {
        border: 2px solid $primary-color2;
        border-radius: 10px;
      }

      .sel--black-panther {
        z-index: 3;
      }

      .getTrip {
        h2 {
          color: $primary-color2;
          margin: 10px;
        }
        .trip {
          border: 2px solid $primary-color1;
          border-radius: 10px;
          margin: 10px 80px;
          .below {
            display: none;
            transition: all 0.3s ease;
            hr {
              margin: 10px;
            }
            .seatNum {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .left {
                width: 200px;
                border-right: 1px solid $primary-color2;
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
                padding: 10px;
              }
              .right {
                width: 200px;
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
                padding: 10px;
              }
              span {
                display: block;
              }
              i {
                font-size: 50px;
                padding: 10px;
                color: $primary-color1;
                transition: all 0.3s ease;
                &:hover {
                  color: $primary-color2;
                }
              }
            }
          }
          .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .tleft {
              display: flex;
              justify-content: center;
              align-items: center;
              div {
                margin: 15px 50px;
                h4 {
                  color: $primary-color1;
                  margin: 0px;
                }
                p {
                  color: $primary-color2;
                  font-weight: 700;
                  margin: 0px;
                }
              }
            }
            .tright {
              margin-right: 50px;
            }
          }
        }
      }
      .stepBtn {
        display: none;
      }
    }
  }
}

.hidden {
  display: none;
}

button {
  padding: 5px 10px;
  border: 1px solid black;
  transition: 250ms background-color;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

button:disabled:hover {
  opacity: 0.6;
  cursor: not-allowed;
}

.text-center {
  text-align: center;
}

.other {
  display: none;
}
/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
